doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        include ./header.pug
        main
            h3 Welcome to the Web Development in #{msj}
            p Renderizando desde el servidor
            p El cálculo #{msj2} es: #{calc}

            if pokemons
                h3 Mis pokemons favoritos:
                ul
                    each pokemon in pokemons
                        li #{pokemon}

        include ./footer.pug
        script(src="script.js") 